<div class="yd-jig-lightbox-content" style="width: 500px; margin-left: -250px">

    <a class="yd-jig-lightbox-close"></a>

    <div class="yd-jig-lightbox-head">
        <%= _("yd-jig-register-head-text") %>
    </div>

    <div class="yd-jig-lightbox-body">

        <div class="yd-grid">

            <div class="yd-grid-24 yd-jig-lightbox-facebook hidden">

                <div class="yd-jig-lightbox-facebook-box">
                    <a class="yd-fb-login yd-fb-login-big"><%= _("yd-core-facebook") %></a>
                    <script src="http://connect.facebook.net/en_US/all.js#appId=<%= Yd.config.fb.appId %>&amp;xfbml=1"></script><fb:facepile></fb:facepile>
                </div>

            </div>

            <div class="yd-grid-24 yd-jig-register-or">
                <span><%= _("yd-jig-header-or") %></span>
            </div>

            <div class="yd-grid-24">

                <form id="yd-jig-register-form" class="yd-jig-register-form <%= order.useCsh ? 'yd-jig-register-form-csh' : 'yd-jig-register-form-plz' %>">

                    <div class="yd-jig-register-duty">
                        * <%= _("yd-core-duty") %>
                    </div>

                    <div class="yd-csscheck">
                        <input type="radio" id="test1" name="sex" value="m" required />
                        <label for="test1"><%= _("yd-jig-register-mr") %></label>
                    </div>
                    <div class="yd-csscheck">
                        <input type="radio" id="test2" name="sex" value="w"  />
                        <label for="test2"><%= _("yd-jig-register-mrs") %></label>
                    </div>

                    <br /><br />

                    <input value="<%= order.attr('prename') || '' %>" type="text" required pattern="<%= Yd.config.pattern.name%>" placeholder="<%= _("yd-jig-register-prename") %> *" name="prename" maxlength="25" required />
                    <input value="<%= order.attr('name') || '' %>" type="text" required pattern="<%= Yd.config.pattern.name%>" placeholder="<%= _("yd-jig-register-name") %> *" name="name" maxlength="25" required /><br />
                    <% if (order.useCsh) { %>
                    <input type="text" required placeholder="<%= _('yd-jig-register-city') %> *" name="locationName" data-cityid="<%= order.attr('cityId') || '' %>" required class="yd-jig-csh-autocomplete-city" />
                    <input type="text" placeholder="<%= _('yd-jig-register-street') %> *" name="locationStreet" data-cityid="<%= order.attr('cityId') || '' %>" required disabled="disabled" value="" class="yd-jig-csh-autocomplete-street" />
                    <input type="text" maxlength="10" placeholder="<%= _('yd-jig-register-number') %> *" name="locationNumber" required data-cityid="<%= order.attr('cityId') || '' %>" class="yd-jig-csh-autocomplete-number" />
                    <% } else { %>
                    <input value="<%= order.attr('street') || '' %>" pattern="<%= Yd.config.pattern.street%>" type="text"  placeholder="<%= _('yd-jig-register-street') %> *" name="street" maxlength="25" required />
                    <input value="<%= order.attr('number') || '' %>" pattern="<%= Yd.config.pattern.housenumber%>" type="text" maxlength="10" placeholder="<%= _('yd-jig-register-number') %> *" name="number" required />
                    <input value="<%= order.attr('plz') ? order.attr('plz') + ' ' + order.attr('locationName') : '' %>" type="text" required placeholder="<%= _('yd-jig-register-locationName') %> *" name="locationName" data-cityid="<%= order.attr('cityId') || '' %>" required id="yd-jig-plz-search-register" /><br />
                    <% } %>
                    <input value="<%= order.attr('tel') || '' %>" pattern="<%= Yd.config.pattern.tel%>" type="tel" required placeholder="<%= _("yd-jig-register-tel") %> *" name="tel" maxlength="25" required />
                    <input value="<%= order.attr('email') || '' %>" type="email" required placeholder="<%= _("yd-jig-register-email") %> *" maxlength="255" name="email" required /><br />
                    <input type="password" pattern="<%= Yd.config.pattern.password%>" maxlength="20" required placeholder="<%= _("yd-jig-register-password") %> *" name="password" id="password" required />
                    <input type="password" pattern="<%= Yd.config.pattern.password%>" maxlength="20" required placeholder="<%= _("yd-jig-register-password_repeat") %> *" name="password_repeat" id="password_repeat" required /><br />
                    <div class="yd-csscheck">
                        <input type="checkbox" name="agb" id="agb" required />
                        <label for="agb"> <% ___v1ew.push(_("yd-jig-register-terms-agree", '<a target="_blank" href="' + staticLink('static/customer-terms') + '">', '<a target="_blank" href="' + staticLink('static/privacy') + '">')) %></label>
                    </div>

                    <br /><br />

                    <a data-type="submit" class="yd-jig-register-submit yd-btn-l yd-btn-interact yd-disabled"><%= _("yd-jig-register-register-submit") %></a>
                </form>
            </div>

        </div>

    </div>

</div>
<div class="yd-jig-modifyemail"></div>

<div class="yd-jig-lightbox-overlay"></div>