<div class="jig-lightbox-small hidden">
    <div class='jig-lightbox-small-content <%= (options.extraClass || "") %>'>

        <% if(options.html) { %>
        <% ___v1ew.push(options.html) %>
        <% } else { %>
        <span class="jig-lightbox-small-close"></span>

        <div class="jig-lightbox-small-head">
            <%= (options.head || "") %>
        </div>

        <div class="jig-lightbox-small-body">

            <% if (options.title) { %>
            <span class="jig-selectplz-title"><%= options.title %></span>
            <% } %>

            <% if (options.subtitle) { %>
            <span class="jig-lightbox-small-subtitle"><%= (options.subtitle || "") %></span>
            <% } %>

            <% if (options.msg) { %>
            <span class="jig-lightbox-small-msg"><% ___v1ew.push(options.msg || "") %></span>
            <% } %>

            <a class="btn-m btn-order jig-lightbox-small-action"> <%= (options.buttonOK || _("core-ok")) %></a>
            <% if(options.type === "confirm") { %>
            <a class="btn-m btn-other jig-lightbox-small-cancel"> <%= (options.cancel || _("core-cancel")) %></a>
            <% } %>

        </div>
        <% } %>
    </div>

    <div class="jig-lightbox-overlay"></div>
</div>
