<!doctype html>
<html class="modern">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body data-pagename="<%= name %>">

    <div class="<%= namespace %>-header">
        <div class="<%= namespace %>-header-inner">
            <section class="<%= namespace %>-jig-header"></section>
        </div>
    </div>
    <div class="<%= namespace %>-wrapper">

        <div class="<%= namespace %>-content">
            <div class="<%= namespace %>-inner">


            </div>
        </div>

        <div class="<%= namespace %>-footer">
            <section class="<%= namespace %>-jig-footer"></section>
        </div>
    </div>

    <script id="<%= namespace %>-application-script" type='text/javascript' src='/steal/steal.js?<%= namespace %>/page/<%= domain%>/<%= name %>'></script>
</body>
</html>