<!DOCTYPE HTML>
<head>
    <meta charset="utf-8">
    <title>Jig.<%= name %></title>
</head>
<body>
<h1 class="<%= namespace %>-testcase-title"><%= name %> <span>Testcase</span></h1>

<div class="<%= namespace %>-inner">
    <div class="<%= namespace %>-grid">
        <div class="<%= namespace %>-grid-24">

            <section class='<%= namespace %>-jig-<%= name %>'></section>

        </div>
    </div>
</div>
<script type='text/javascript' src="/steal/steal.js"></script>
<script type='text/javascript'>
    if (window.name !== "funcunit") {
        steal.config("domain", "default");
        steal("steal/instrument").then("<%= namespace %>/jig/<%= name %>/test/<%= name %>.conf")
    }
</script>
</body>
</html>
